@page "/product"
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject ProductService Service
@inject IJSRuntime JS
@inject HttpClient Http
@using System.Net.Http.Json
@using ClosedXML.Excel;
@inject AuthenticationStateProvider AuthenticationStateProvider

@* <div class="row mb20">
    <div class="col-12 col-md-6 col-lg-3 my-2">
        <MudPaper Style="@($"background:{Colors.DeepPurple.Default}; color:{Colors.Shades.White}")" Outlined="true" Height="80px" Class="d-flex align-center justify-center cursor-pointer" @onclick="Category">
            <MudIcon Icon="@Icons.Material.Filled.Category" Class="mr-1" />
            <MudText Typo="Typo.h6">Danh mục</MudText>
        </MudPaper>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-2">
        <MudPaper Style="@($"background:{Colors.LightBlue.Default}; color:{Colors.Shades.White}")" Outlined="true" Height="80px" Class="d-flex align-center justify-center">
            Thương hiệu
        </MudPaper>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-2">
        <MudPaper Style="@($"background:{Colors.Purple.Default}; color:{Colors.Shades.White}")" Outlined="true" Height="80px" Class="d-flex align-center justify-center">
            Nhà cung cấp
        </MudPaper>
    </div>
    <div class="col-12 col-md-6 col-lg-3 my-2">
        <MudPaper Style="@($"background:{Colors.Indigo.Default}; color:{Colors.Shades.White}")" Outlined="true" Height="80px" Class="d-flex align-center justify-center">
            Xuất xứ
        </MudPaper>
    </div>
</div>
<style>
    .mb20 {
        margin-bottom: 20px;
    }
    .w-1{
        width:100px;
    }
</style> *@

<MudDataGrid T="ProductModel" ReadOnly="false" EditMode="DataGridEditMode.Form" QuickFilter="@_quickFilter"
             Bordered="true" Dense="true" Items="Data" Filterable="false" Hover="true" RowClick="OnRowClick"
             EditTrigger="DataGridEditTrigger.Manual" ColumnResizeMode="ResizeMode.Column" SelectedItem="tempItem" CommittedItemChanges="CommittedItemChanges"
             Virtualize="true" Loading="loading" Height="400px" FixedHeader="true">
    <ToolBarContent>
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
            <MudTooltip Text="Thêm sản phẩm">
                <MudIconButton Icon="@Icons.Material.Filled.Add" @onclick="OpenDialogAsync"></MudIconButton>
            </MudTooltip>
            @*             <MudTooltip Text="Nhập từ file excel">
            <MudIconButton Icon="@Icons.Material.Filled.FilePresent" @onclick="@(()=>ShowMessage($"Tính năng chưa mở","addmulti"))"></MudIconButton>
            </MudTooltip> *@
            <MudTooltip Text="Nhập từ file excel">
                <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                    <ActivatorContent>
                        <MudIconButton Icon="@Icons.Material.Filled.FilePresent"></MudIconButton>
                    </ActivatorContent>
                </MudFileUpload>
            </MudTooltip>
            <MudTooltip Text="Download excel">
                <MudIconButton Icon="@Icons.Material.Filled.Download" OnClick="ExportToExcel"></MudIconButton>
            </MudTooltip>
        </MudButtonGroup>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.End" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

    </ToolBarContent>
    <Columns>
        <PropertyColumn Class="w-1" Property="x => x.Id" Title="Id" Editable="false" />
        <PropertyColumn Property="x => x.Name" Title="Tên sản phẩm" />
        <PropertyColumn Format="#,0 đ" Property="@(x => x.Price)" Title="Giá" />
        <PropertyColumn Property="x => x.Quantity" Title="Số lượng" />
        <TemplateColumn Hidden="false" StickyRight="false" Class="w-1" CellClass="d-flex justify-center">
            <CellTemplate>
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Color="Color.Warning" OnClick="@context.Actions.StartEditingItemAsync" />
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" OnClick="()=> ShowDeleteConfirmation(context.Item)" />
                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.MoreVert" Color="Color.Dark" OnClick="()=> ShowDeleteConfirmation(context.Item)" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="ProductModel" />
    </PagerContent>
</MudDataGrid>
<script>
    window.downloadFileFromByteArray = (fileName, byteArray) => {
        // Tạo Blob từ byte array
        var blob = new Blob([byteArray], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });
        var url = URL.createObjectURL(blob);

        // Tạo thẻ <a> để tải file xuống
        var anchor = document.createElement("a");
        anchor.href = url;
        anchor.download = fileName;

        // Thêm thẻ <a> vào DOM và click để tải file
        document.body.appendChild(anchor);
        anchor.click();

        // Sau đó xóa thẻ <a> đi để dọn dẹp
        document.body.removeChild(anchor);
        URL.revokeObjectURL(url);
    };
</script>
@code {
    #region fields - Properties
    private bool loading = true;
    private List<string> _events = new();
    public List<ProductModel> Data { get; set; } = new List<ProductModel>();
    public List<ProductModel> ExcelData { get; set; }
    string _searchString = null!;
    ProductModel tempItem = null!;
    IList<IBrowserFile> _files = new List<IBrowserFile>();
    #endregion

    #region Life cycle
    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("login");
        }
        if (!user.IsInRole("admin"))
        {
            Navigation.NavigateTo("access-denied");
        }
        try
        {
            await Task.Delay(300);
            loading = true;
            Data = await Service.GetAllAsync();
        }
        catch
        {
            Snackbar.Add("Gọi API thất bại, vui lòng kiểm tra lại server!",Severity.Error);
            Snackbar.Add("Tạm thời sử dụng dữ liệu giả!", Severity.Warning);
            Data = await ProductService.GetFakeData();
        }
        finally
        {
            loading = false;
        }

    }
    #endregion



    #region Sự kiện
    private async void UploadFiles(IBrowserFile file)
    {
        if (file.ContentType == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" || file.ContentType == "application/vnd.ms-excel")
        {
            _files.Add(file);
            loading = true;
            StateHasChanged();
            var data = await ReadExcelFile(file);
            if (!data)
            {
                Snackbar.Add("Thông tin file không hợp lệ!", Severity.Error);
                loading = false;
                StateHasChanged();
                return;
            }
            var result = await Service.CreateMultipleAsync(ExcelData);
            if (result != null)
            {
                Data.InsertRange(0, result);
                Snackbar.Add("Nhập danh sách sản phẩm thành công!", Severity.Success);
                loading = false;
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("Thông tin file không hợp lệ!", Severity.Error);
            }
        }
        else
            Snackbar.Add("File không hợp lệ!", Severity.Error);
    }
    private async Task<bool> ReadExcelFile(IBrowserFile file)
    {
        try
        {
            using var stream = file.OpenReadStream();
            using var memoryStream = new MemoryStream();

            // Đọc file từ stream không đồng bộ
            await stream.CopyToAsync(memoryStream);
            memoryStream.Position = 0; // Đặt lại vị trí của stream về đầu

            using var workbook = new XLWorkbook(memoryStream); // Sử dụng ClosedXML để mở file Excel

            var worksheet = workbook.Worksheet(1); // Giả sử dữ liệu nằm ở sheet đầu tiên
            int rowCount = worksheet.LastRowUsed().RowNumber(); // Lấy số hàng cuối cùng có dữ liệu

            // Xóa danh sách sản phẩm cũ trước khi thêm mới
            ExcelData = new List<ProductModel>();

            // Đọc từng hàng dữ liệu trong file Excel
            for (int row = 2; row <= rowCount; row++) // Giả sử hàng đầu tiên là tiêu đề
            {
                string name = worksheet.Cell(row, 1).GetString();
                double price = worksheet.Cell(row, 2).GetDouble();
                var item = new ProductModel
                    {
                        Name = worksheet.Cell(row, 1).GetString(),
                        Price = worksheet.Cell(row, 2).GetDouble(),
                        Quantity = (int)worksheet.Cell(row, 3).GetDouble(),
                        Description = worksheet.Cell(row, 4).GetString(),
                        CategoryId = (int)worksheet.Cell(row, 5).GetDouble(),
                        BrandId = (int)worksheet.Cell(row, 6).GetDouble(),
                    };
                ExcelData.Add(item);
            }
            return true;
        }
        catch (Exception ex)
        {
            ExcelData = null!;
            return false;
        }
    }

    private async void ExportToExcel()
    {
        var response = await Http.GetAsync("api/product/export-excel");

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsByteArrayAsync();
            var fileName = "products.xlsx";

            // Gọi JavaScript để tạo file và tải xuống
            await JS.InvokeVoidAsync("downloadFileFromByteArray", fileName, content);
        }
        else
        {
            Console.WriteLine("Không thể tải file Excel.");
        }
    }
    //Tìm kiếm
    private Func<ProductModel, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if ($"{x.Id} {x.Quantity} {x.Price}".Contains(_searchString))
            return true;

        return false;
    };
    private void OnRowClick(DataGridRowClickEventArgs<ProductModel> args)
    {
        OpenViewDialog(args.Item);
        StateHasChanged();
    }
    void StartedEditingItem(ProductModel item)
    {
        _events.Insert(0, $"Event = StartedEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
        tempItem = item;
    }

    void CanceledEditingItem(ProductModel item)
    {
        _events.Insert(0, $"Event = CanceledEditingItem, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
    }

    async void CommittedItemChanges(ProductModel item)
    {
        _events.Insert(0, $"Event = CommittedItemChanges, Data = {System.Text.Json.JsonSerializer.Serialize(item)}");
        var result = await Service.Update(item);
        if (!result)
        {
            Snackbar.Add("Không thể cập nhật!", Severity.Error);
            Data.Remove(item);
            Data.Insert(0, tempItem);
            StateHasChanged();
        }
        else
        {
            Snackbar.Add("Đã cập nhật sản phẩm thành công!", Severity.Success);
        }
    }
    private async void Recover(ProductModel item)
    {
        await Service.Recover(item);
        Data.Insert(0, item);
        StateHasChanged();
    }
    void ShowMessage(string msg, string key = null!)
    {
        var config = (SnackbarOptions options) =>
        {
            options.DuplicatesBehavior = SnackbarDuplicatesBehavior.Prevent;
        };
        Snackbar.Add(msg, Severity.Info, configure: config, key: key);
    }
    #endregion

    #region Xóa
    private async Task ShowDeleteConfirmation(ProductModel item)
    {
        var parameters = new DialogParameters { ["Message"] = $"Hãy cân nhắc kỹ trước khi xóa {item.Name}" };
        var options = new DialogOptions { CloseButton = false, CloseOnEscapeKey = true };

        var dialog = DialogService.Show<ConfirmDialog>("Confirm Delete", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            DeleteItem(item);
        }
    }
    private async Task OpenDialogAsync()
    {
        loading = true;
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = await DialogService.ShowAsync<AddProductDialog>("Thêm sản phẩm", options);
        var result = await dialog.Result;

        if (!result.Canceled && result.Data is ProductModel newProduct)
        {
            // Thêm sản phẩm mới vào danh sách
            await Task.Delay(500);
            newProduct.Id = await Service.CreateAsync(newProduct);
            if (newProduct.Id != -1)
            {
                Data.Insert(0, newProduct);
                Snackbar.Add("Đã thêm sản phẩm thành công!", Severity.Success);
                StateHasChanged();
            }
            else
            {
                Snackbar.Add("Đã xảy ra lỗi :(", Severity.Error);
            }
        }
        loading = false;
    }

    void ShowDetailProduct(ProductModel item)
    {
        OpenDialogAsync();
    }

    private async void DeleteItem(ProductModel item)
    {

        var result = await Service.Delete(item.Id); //gọi api xóa trên server
        if (result == true) //kiểm tra kết quả
        {
            Data.Remove(item); //Xóa tại frontend
            StateHasChanged();
            //Snackbar.Add($"Xóa thành công", Severity.Info);
            //tạo toast thông báo
            Snackbar.Add($"Xóa thành công", Severity.Info, c =>
            {
                c.SnackbarVariant = Variant.Filled;
                c.Action = "Hoàn tác"; //tạm tắt tính năng này
                c.ActionColor = Color.Tertiary;
                c.Onclick = snakbar =>
                    {
                        Recover(item);
                        return Task.CompletedTask;
                    };
            });
        }
        else
        {
            Snackbar.Add($"Không thể xóa", Severity.Error);
        }
    }

    #endregion
    private void Category(MouseEventArgs e)
    {
        Navigation.NavigateTo("weather");
    }

    private void OpenViewDialog(ProductModel product)
    {
        var parameters = new DialogParameters { ["product"] = product }; //gửi tham chiếu tới dialog
        var options = new DialogOptions { CloseOnEscapeKey = true }; //cho phép tắt dialog khi bấm nút Esc

        DialogService.Show<ViewProductDialog>("Chi tiết sản phẩm", parameters, options); //Bật dialog
    }
}