@using AdminUI.ApiServices

@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject AuthenticationService AuthService
@inject NotifyService NotifyService

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@* <AuthorizeView> *@
<MudLayout>
    <MudAppBar Elevation="10" Dense="@_dense" Style="@($"background:{Colors.Purple.Darken4};")">
        <MudImage Src="ocean2.png" Width="40" Style="margin-left:-10px" />
        <h5 class="mx-3 mt-2 me-12 onsmallscreen">OceanVie</h5>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Class="ms-2" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />

        <MudSpacer />

        <MudMenu AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Paper="false">
            <ActivatorContent>
                <MudBadge Content="@Notifications.Count" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                    <MudIcon Size="Size.Medium" Color="Color.Inherit" Icon="@Icons.Material.Filled.Notifications"></MudIcon>
                </MudBadge>
            </ActivatorContent>
            <ChildContent>
                <MudList T="string" Style="width:220px">
                    <MudListItem Text="Đã đọc tất cả" Icon="@Icons.Material.Filled.Inbox" />
                    <MudDivider />
                    @foreach (var notify in Notifications)
                    {                        
                        <MudListItem Icon="@notify.GetIcon()">
                            @notify.Content
                            <a href="@notify.Link">Chi tiết</a>
                        </MudListItem>
                    }
                </MudList>
            </ChildContent>
        </MudMenu>

        <MudMenu IconColor="Color.Transparent" Icon="@Icons.Custom.Brands.GitHub" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Paper="false">
            <ActivatorContent>
                <MudAvatar Class="mx-2">
                    <MudImage Src="man-avatar.webp" />
                </MudAvatar>
                <MudHidden Invert Breakpoint="Breakpoint.Md">
                    <MudText Class="mt-2 mx-2">
                        Hello, An!
                    </MudText>
                </MudHidden>
            </ActivatorContent>
            <ChildContent>
                <MudPaper Outlined="true" Width="250px">
                    <MudList T="string">
                        <MudListItem Icon="@Icons.Material.Filled.Person">
                            Thông tin cá nhân
                        </MudListItem>
                        <MudDivider DividerType="DividerType.FullWidth" />
                        <MudListItem Icon="@Icons.Material.Filled.ChangeCircle">
                            Đổi mật khẩu
                        </MudListItem>
                        <MudDivider DividerType="DividerType.FullWidth" />
                        <MudDivider DividerType="DividerType.FullWidth" />
                        <MudListItem Icon="@Icons.Material.Filled.ExitToApp" OnClick="Logout" IconColor="Color.Error">
                            Đăng xuất
                        </MudListItem>
                    </MudList>
                </MudPaper>
            </ChildContent>
        </MudMenu>

    </MudAppBar>
    <MudDrawer @bind-Open="@_open" ClipMode="_clipMode" Breakpoint="@_breakpoint" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
        <MudNavMenu Rounded="false" Bordered="true">
            <MudNavLink Style="height:50px" IconColor="_iconColor" Href="dashboard" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
            <MudNavLink Style=@(_height) IconColor="_iconColor" Href="import" Icon="@Icons.Material.Filled.AddHomeWork">Nhập kho</MudNavLink>
            <MudNavLink Style=@(_height) IconColor="_iconColor" Href="export" Icon="@Icons.Material.Filled.ContentPasteGo">Xuất kho</MudNavLink>
            <MudNavLink Style=@(_height) IconColor="_iconColor" Href="inventory" Icon="@Icons.Material.Filled.Warehouse">Tồn Kho</MudNavLink>
            <MudNavLink Style=@(_height) IconColor="_iconColor" Href="check" Icon="@Icons.Material.Filled.FactCheck">Kiểm kho</MudNavLink>
            <MudNavLink Style=@(_height) IconColor="_iconColor" Href="return" Icon="@Icons.Material.Filled.AssignmentReturn">Hoàn kho</MudNavLink>
            <MudNavLink Style=@(_height) IconColor="_iconColor" Href="employee" Icon="@Icons.Material.Filled.Groups">Nhân viên</MudNavLink>
            <MudNavLink Style=@(_height) IconColor="_iconColor" Href="agency" Icon="@Icons.Material.Filled.Badge">Đại lý</MudNavLink>
            <MudNavLink Style=@(_height) IconColor="_iconColor" Href="admin" Icon="@Icons.Material.Filled.Token">Admin</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent style="background:#F5F7FF;">
        @* <MudMainContent style="background:#F5F7FF;" Class="pt-20 px-10"> *@
        @Body
        @* @DialogflowChat *@
    </MudMainContent>
</MudLayout>
@* </AuthorizeView> *@



@code {
    string? _height = "height: 50px;";
    Color _iconColor = Color.Primary;
    private bool _open = true;
    private bool _dense = false;
    private Breakpoint _breakpoint = Breakpoint.Md;
    private DrawerClipMode _clipMode = DrawerClipMode.Always;
    public string Search { get; set; }
    private bool _openPopup = false;

    private List<Notification> Notifications = new();

    protected override async Task OnInitializedAsync()
    {
        Notifications = await NotifyService.GetAll();
    }

    private void ToggleDrawer()
    {
        _open = !_open;
    }

    private void ToggleOpen() => _openPopup = !_openPopup;

    private bool isPopupVisible = false;
    private MarkupString DialogflowChat => (MarkupString)@"
        <style>
           df-messenger {
              /*
               * Customize as required. df-messenger will fill the
               * space that is provided.
              */
              position: absolute;
              left: 5px !important;
              bottom: 5px;
            }
            df-messenger chat-message {
                line-height: 2; /* Điều chỉnh khoảng cách dòng tin nhắn */
              }
        </style>

        <df-messenger intent='WELCOME'
                      chat-title='CHAT'
                      agent-id='1d0d3f14-db5b-4eda-8929-ac049969b15f'
                      language-code='vi'></df-messenger>
        <script src='https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1'></script>
    ";

    async Task Logout()
    {
        await AuthService.Logout();
        Navigation.NavigateTo("/");
    }
}
